{% extends "_base.html.j2" %}
{% import "_macros.html.j2" as m with context %}
{% import "family/_fam.html.j2" as fm with context %}
{% block style %}{{ fm.fam_style() }}{% endblock %}
{% block content %}
<h1 class="title fm">혼인관계증명서(일반)</h1>
<table class="fm fm-base"><tr><th>등록기준지</th><td class="l">{{ f("reg_base", label="등록기준지") }}</td></tr></table>
<div style="height:8px"></div>
{{ fm.people(["self"]) }}
{% if d.marriage is defined %}
<div class="fm-sec">혼인사항</div>
{{ fm.people(["spouse"]) }}
<table class="fm">
  <colgroup><col style="width:90px"><col></colgroup>
  <tr><th>구분</th><th>상세내용</th></tr>
  <tr><td>혼인</td><td class="l">【신고일】{{ f("marriage.reported", label="신고일") }}<br>【배우자】{{ f("marriage.spouse_name", label="배우자") }}<br>【배우자의 주민등록번호】{{ f("marriage.spouse_rrn", label="배우자의주민등록번호") }}<br>【처리관서】{{ f("marriage.office", label="처리관서") }}</td></tr>
</table>
{% endif %}
{{ fm.fam_footer("혼인관계증명서(일반)") }}
{% endblock %}
