{% extends "_base.html.j2" %}
{% import "_macros.html.j2" as m with context %}
{% import "family/_fam.html.j2" as fm with context %}
{% block style %}{{ fm.fam_style() }}{{ fm.resident_style() }}
table.rr.hist td { padding-top: 2px; padding-bottom: 2px; }
table.rr.hist tr.r2 td { border-top: 1px dotted #999; }
.rr-sec { font-weight: 700; margin: 12px 0 0; letter-spacing: .1em; display: flex; justify-content: space-between; }
.rr-sec span.s { font-weight: 400; letter-spacing: 0; font-size: calc(var(--fs) - 1px); }
{% endblock %}
{% block page_class %} dense{% endblock %}
{% block content %}
{{ fm.resident_head("초　　본", "제19호서식", "이 초본은 개인별 주민등록표의 원본내용과 틀림없음을 증명합니다.") }}
<table class="rr">
  <colgroup><col style="width:110px"><col><col style="width:110px"><col style="width:190px"></colgroup>
  <tr><th>성 명(한자)</th><td class="l">{{ f("person.name", label="성명") }} ({{ f("person.name_hanja", label="한자") }})</td><th>주민등록번호</th><td>{{ f("person.rrn", label="주민등록번호") }}</td></tr>
</table>
<div class="rr-sec"><span>주 소 변 동 사 항</span><span class="s">( {{ f("history_scope", label="주소변동사항") }} )</span></div>
<table class="rr hist" style="margin-top:2px">
  <colgroup><col style="width:46px"><col><col style="width:110px"><col style="width:150px"></colgroup>
  <tr><th rowspan="2">번호</th><th colspan="2">주　　　　　　　　　　소</th><th>전입일 / 변동일</th></tr>
  <tr><th>세대주 및 관계</th><th>등록상태</th><th>변 동 사 유</th></tr>
  {% for it in d.addresses %}{% set i = loop.index0 %}
  <tr>
    <td rowspan="2">{{ f("addresses." ~ i ~ ".no", label="번호") }}</td>
    <td class="l" colspan="2">{{ f("addresses." ~ i ~ ".address", label="주소") }}</td>
    <td>{{ f("addresses." ~ i ~ ".moved_in", label="전입일") }}&nbsp;/&nbsp;{{ f("addresses." ~ i ~ ".changed", label="변동일") }}</td>
  </tr>
  <tr class="r2">
    <td class="l">{{ f("addresses." ~ i ~ ".head_relation", label="세대주및관계") }}</td>
    <td>{{ f("addresses." ~ i ~ ".status", label="등록상태") }}</td>
    <td>{{ f("addresses." ~ i ~ ".reason", label="변동사유") }}</td>
  </tr>
  {% endfor %}
</table>
{{ fm.resident_footer() }}
{% endblock %}
